<!-- <ng-template let-modal>
  <app-modal-header
    [data]="headerData"
    (dismissModal)="modal.dismiss()"
  ></app-modal-header>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <input type="text" placeholder="Id" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="WareHouseId" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="TypeId" />
        </div>
        <div class="input-group">
          <input type="text" placeholder="Title" />
        </div>
      </div>
    </form>
  </div>
  <app-modal-footer
    [data]="footerData"
    (closeModal)="modal.close()"
  ></app-modal-footer>
</ng-template> -->
